body{
    all: unset;
    background-color: black;
}
#globalContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* FASE SCREENS */
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
}

/* START FASE */
#start{
    height: 100vmin;
}
#startButton{
    font-size: 2em;
}
.pusher{
    cursor: pointer;
}
/* CHOOSE FASE */
#chooseF{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* TOP AREA SELECTION HERO */
#chooseButton{
    font-size: 2em;
    margin: 1em 0 1.5em 0;
    text-align: center;
}

#characterBoxPics{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    min-width: 20em;
}
.cBoxPic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
    border: .3em dotted greenyellow;
}
.characterPic{
    height: 5em;
    width: 4em;
    cursor: pointer;

}
/* BOTTOM AREA SELECTED TEAMS */
.centerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#characterDropBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.blockTeam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 30em;
}
.titleTeams{
    font-size: 1.5em;
    padding: 1.5em;
}
.dropBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    border: .3em solid greenyellow;
    padding: 1em;    
}
.dropPic{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    width: 7em;
    border: .3em dotted greenyellow;
}
#fightButton{
    margin: 1.5em 0 0 0 ;
    font-size: 3em;
}
.footer{
    display: flex;
    height: 4em;
    width: 100%;
}
/* FIGHT SCENE */
#fightScreen{
    display: none;
    flex-direction: column;
    height: 100vmin;
}
/* #scenario{
    background-color: wheat;
} */
#fightScene{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 100%;
    height: 100%;
    min-height: 20em;
}
.sectionScene{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 90em;
}
.boxFighter{
    position: relative;
    height: 90%;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
}
#topScene{
    background-color: cyan;
}
#topFighter{
    background-color: darkorchid;
}
/* #centerBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    background-color: darkgoldenrod;
}
#leftFist{
    display: flex ;
    height: 90%;
    width: 30%;
    background-color: blue;
}
.space{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 30%;
    background-color: darkcyan;
}
#rightFist{
    display: flex ;
    height: 90%;
    width: 30%;
    background-color: blue;
} */
#bottomFighter{
    background-color: darkolivegreen;
}
#bottomScene{
    background-color: deeppink;
}

/* FIGHTER
#fighter{
    position: relative;
    width: 1em;
    height: 1em;
    background-color: tomato;
} */

/* VICTORY SCREEN */
#victoryScreen{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    height: 100vmin;
    width: 100%;
    font-size: 4em;
    text-align: center;
}
