/* GLOBAL SETS */
.cLight{
    color: white;
}
.font{
    font-family: 'Press Start 2P', cursive;
}

body{
    all: unset;
    background-color: black;
}

#globalContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* FASE SCREENS */
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
}

/* START FASE */
#start{
    display: flex;
    flex-direction: column;
    height: 90vh;
}
#logoBox{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#bigLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoTitle{
    font-size: 3em;
}
#startButtonBox{
    margin-top: 3em;
    height: 1em;
}
#startButton{
    display: flex;
    justify-content: center;
    font-size: 1em;
    animation-name: startB;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(1, 1, 1, 0.94);
}
@keyframes startB {
    from {opacity: 0;}
    to {opacity: 1;}
}
#developer{
    position: absolute;
    bottom: 1em;
    font-size: .8em;
    color: grey;
}
.pusher{
    cursor: pointer;
}
/* CHOOSE FASE */
#chooseF{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* TOP AREA SELECTION HERO */
#selectionHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4em;
}
#chooseTitle{
    font-size: 2em;
    margin: 1em 2em 1.5em 0;
    text-align: center;
}
#pauseSound {
    position: absolute;
    right: 2em;
    top: 1em;
    width: 3em;
}

#characterBoxPics{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    min-width: 20em;
    background-color: grey;
    
}
.cBoxPic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
.characterPic{
    height: 10em;
    width: 10em;
    cursor: grab;

}
/* INFO HIDDEN SPACE */
#infoCharacters {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#infoButton {
    margin-top: 1em;
}
#infoButton:hover{
    color: grey;
}

#infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: .9em;
    margin-top: 1em;
}
.infoFighter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 1.8em;
    line-height: 1.4em;
}
.infoFighter #namek p{
    display: block ;    
}

.attributesF{
    width: 12em;
}
.titlesInfo{
    all: unset;
    color:grey;
}
.attributesInfo {
    color: white;
}

/* BOTTOM AREA SELECTED TEAMS */
.centerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#characterDropBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.blockTeam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 30em;
}
.titleTeams{
    font-size: 1.5em;
    padding: 1.5em;
}
.dropBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    
    padding: 1em;    
}
.dropPic{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    background-color: grey;
    border: .4em dotted black;
    padding: 1em;
}

.dropPic img {
    width: 6em;
    height: 6em;
    cursor: initial;
}
#fightButton{
    margin: 1.5em 0 0 0 ;
    font-size: 3em;
}
.footer{
    display: flex;
    height: 4em;
    width: 100%;
}
/* FIGHT SCENE */
#fightScreen{
    display: none;
    flex-direction: column;
    height: 100vmin;
}

#fightScene{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    min-height: 30em;
    
    
    
}
#centerScene{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgb(72, 72, 72);
    background-image: url(../assets/background/battleBack.png);
    background-size: 120vw 18em;
    background-position-x: -18em;
    background-position-y: 2em;
}
.sectionScene{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20em;
    width: 50%;
    
}
.boxFighter{
    position: relative;
    height: 90%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftFighter{
    left:0%;
}
#rightFighter{
    left:66%;
    transform: scaleX(-1);
}
/* LIFE BARS */
.barContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 1em;
    margin-bottom: 1em;
}
.lifeBar{
    display: flex;
    width: 20%;
    height: 100%;
    background-color: rgb(163, 0, 0);
}
#lifeRight{
    display: flex;
    justify-content: flex-end;
}
#lifeBarRight{
    width: 100%;
}
#lifeBarLeft{
    width: 100%;
}
.lifeFull {
    height: 100%;
    background-color: rgb(60, 119, 0);
    transition: .05s ease-in-out;
}
/* FIGHTERS DATA AND CONTROLS */
#boxFightersData{
    display: flex;
    flex-direction: row;
    height: 2em;
    width: 100%;
    margin-top: 2em;
}

#rightFighterData{
    align-items: flex-end;
}
.fightersData {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.nameTitle{
    font-size: 1.2em;
}
.boxKeys{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.imgKeys{
    width: 5em;
    margin-bottom: 1em;
    filter: brightness(50%);
}
.keys{
    display: flex;
    flex-direction: row;
    font-size: .6em;
    margin-top: 1em;
    color: grey;
}

/* VICTORY SCREEN */
#victoryScreen{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vmin;
    width: 100%;
    font-size: 2em;
    text-align: center;
}
#winnerBox{
    font-size: 2em;
}